*{
    margin:0;
    font-family: Oswald, "sans serif typefaces";
    color:blue
}

body{
    background-image: url('https://wallpaperaccess.com/full/2029165.jpg');
}

.topNav{
    background-color: rgba(99, 96, 96, 0.7);
    display: flex;
    justify-content: space-between;
}

.topNav>.title>h1{
    padding: 1vh;
    text-transform: uppercase;
    line-height: 0.8;
    color: red;
}

.topNav>.title>h1>span{
    color: yellow;
}

.search{
    width: 100%;
    margin-left: 0.5em;
    margin-top: 2vh;
}

.search>input{
    margin-right: 1em;
    width: 30%;
}

.music>.btnSearch{
    margin-left: 0.5em;
    margin-top: 0.5vh;
}

.music>.displayContent{
    margin-top: 0.5em;
    list-style: none;
}

.music>.displayContent>li>p{
    background-color: rgba(99, 96, 96, 0.7);
    color:green
}

.displayArtist{
    padding:0.5em;
}

.displayArtist>li{
    list-style: none;
}