*{
    margin:0;
    font-family: Oswald, "sans serif typefaces";
    color:white
}

body{
    background-image: url('https://wallpaperaccess.com/full/2029165.jpg');
    list-style: none;
}

.topNav{
    background-color: rgba(99, 96, 96, 0.7);
}

.topNav>.title>h1{
    padding: 1vh;
    text-transform: uppercase;
    line-height: 0.8;
    color: red;
}

.topNav>.title>h1>span{
    color: yellow;
}

.topNav>nav{
    margin: 0.5em 0.5em;
    display: flex;
    justify-content: space-around;
}

.topNav>nav>a{
    text-decoration: none;
    color: white;
}
.topNav>nav>a:hover{
    background-color: red;
}
.search{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.search>input{
    color: black;
    margin-right: 1em;
    width: 30%;
}

.search>button{
    color: black;
}
